In [1]:
print("Data Science")

Data Science

##### Python Variables

They are created when we assign a value to them

In [2]:
x = 5
y = "Hello! World"

print(x)
print(y)

5
Hello! World

##### Casting

In [3]:
x = str(3)

print(type(x))

<class 'str'>

##### Variable Names

- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)
- A variable name cannot be any of the Python keywords.

##### Many Values to Multiple Variables

In [4]:
x, y, z = "Orange", "Banana", "Apple"

print(x, y, z)

Orange Banana Apple

##### Single value to Many variables

In [5]:
x = y = z = "Orange"

print(x, y, z)

Orange Orange Orange

##### Unpack Collection

In [6]:
fruits = ["Orange", "Banana", "Apple"]
x, y, z = fruits

print(x, y, z)

Orange Banana Apple

### Data Types

#### Built-in Data Types

Text Type:	<code>str</code>

Numeric Types:	<code>int</code>, <code>float</code>, <code>complex</code>

Sequence Types:	<code>list</code>, <code>tuple</code>, <code>range</code>

Mapping Type:	<code>dict</code>

Set Types:	<code>set</code>, <code>frozenset</code>

Boolean Type:	<code>bool</code>

Binary Types:	<code>bytes</code>, <code>bytearray</code>, <code>memoryview</code>

None Type:	<code>NoneType</code>

#### Setting specific data type

Example	                                      Data Type	

x = str("Hello World")	                      str	

x = int(20)	                                  int	

x = float(20.5)	                               float	

x = complex(1j)	                              complex	

x = list(("apple", "banana", "cherry"))	      list	

x = tuple(("apple", "banana", "cherry"))	    tuple	

x = range(6)	                                range	

x = dict(name="John", age=36)	                dict	

x = set(("apple", "banana", "cherry"))	      set	

x = frozenset(("apple", "banana", "cherry"))	frozenset	

x = bool(5)	                                  bool	

x = bytes(5)	                                bytes	

x = bytearray(5)	                            bytearray	

x = memoryview(bytes(5))	                    memoryview

### Numbers

In [8]:
x = 1   # int
y = 3.0 # float
z = 1j  # complex

x, y, z

(1, 3.0, 1j)

#### Random Number

In [12]:
import random

print(random.randint(1, 10))

5

### Strings

In [15]:
# Multiline Strings

a = """Hello World
Hello World
Hello World"""

print(a)

Hello World
Hello World
Hello World

Strings are like array

In [16]:
a = "Hello World"

print(a[1])

e

#### Looping thorugh string

In [17]:
for x in a:
  print(x)

H
e
l
l
o

W
o
r
l
d

#### String length

In [18]:
print(len(a))

11

#### Check String

In [19]:
print("World" in a)

True

#### Slicing strings

In [21]:
print(a[2: 6]) # between
 
print(a[: 4]) # from start

print(a[3: ]) # till end

llo
Hell
lo World

#### Modify String

In [22]:
print(a.upper())

print(a.lower())

print(a.strip())

print(a.replace("H", "D"))

print(a.split(" "))

HELLO WORLD
hello world
Hello World
Dello World
['Hello', 'World']

##### Concatenation

In [24]:
a = "Hello"
b = "World"

print(a + " " + b)

Hello World


Operator	Name	Example

- <code>+</code>	Addition	x + y	

- <code>-</code>	Subtraction	x - y	

- <code>*</code>	Multiplication	x * y	

- <code>/</code>	Division	x / y	

- <code>%</code>	Modulus	x % y	

- <code>**</code>	Exponentiation	x ** y	

- <code>//</code>	Floor division	x // y

### Lists

In [25]:
# Create a list

thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

List items are ordered, changeable and alllow duplicates

The items are indexed starting from <code>[0]</code>

In [27]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [39]:
# List length

thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

List can have any datatypes

In [40]:
# List accessing

print(thislist[0])

print(thislist[-1]) # Negative indexing

print(thislist[1: ]) # range indexing

apple
cherry
['banana', 'cherry']

In [41]:
# Check if exists

print("apple" in thislist)

print("apple" not in thislist)

True
False

In [42]:
# Changing items

x = "orange"
print(f'Before: {thislist}')
thislist[1] = x
print(f'After: {thislist}')

Before: ['apple', 'banana', 'cherry']
After: ['apple', 'orange', 'cherry']

In [43]:
# inserting new items

x = "banana"

thislist.insert(1, x)

thislist

['apple', 'banana', 'orange', 'cherry']

In [44]:
# append - Add item to the end

y = "pineapple"

thislist.append(y)

thislist

['apple', 'banana', 'orange', 'cherry', 'pineapple']

In [45]:
# Extend list
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [46]:
# Remove

thislist.remove("cherry")

thislist

['apple', 'banana', 'mango', 'pineapple', 'papaya']

In [47]:
# Remove specific index

thislist.pop(1)

thislist

['apple', 'mango', 'pineapple', 'papaya']

In [48]:
# Clear the entire list

thislist.clear()

thislist

[]

#### List Comprehension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [49]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

### Sorting

In [51]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()

thislist

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [52]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()

thislist

[23, 50, 65, 82, 100]

In [53]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)

thislist

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [54]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)

thislist

[50, 65, 23, 82, 100]

In [55]:
x = thislist.copy() # copy a list

x

[50, 65, 23, 82, 100]

#### List Methods

Python has a set of built-in methods that you can use on lists.

Method	Description

- <code>append()</code>	Adds an element at the end of the list
- <code>clear()</code>	Removes all the elements from the list
- <code>copy()</code>	Returns a copy of the list
- <code>count()</code>	Returns the number of elements with the specified value
- <code>extend()</code>	Add the elements of a list (or any iterable), to the end of the current list
- <code>index()</code>	Returns the index of the first element with the specified value
- <code>insert()</code>	Adds an element at the specified position
- <code>pop()</code>	Removes the element at the specified position
- <code>remove()</code>	Removes the item with the specified value
- <code>reverse()</code>	Reverses the order of the list
- <code>sort()</code>	Sorts the list

### Tuples

Tuples are used to store multiple items in a single variable

- It is ordered and unchangeable

- Written inside rounded brackets

In [56]:
# create a tuple

thistuple = ("apple", "banana", "cherry")

thistuple

('apple', 'banana', 'cherry')

In [57]:
len(thistuple) # length

3

In [59]:
# create with one item

x = ("apple",) # ("apple") - not a tuple
x

('apple',)

In [60]:
print(thistuple[0]) # access

print(thistuple[-1]) # negative indexing

print(thistuple[1: ]) # range indexing

apple
cherry
('banana', 'cherry')

In [61]:
"apple" in thistuple # check if exists

True

To change values of a tuple we can convert it into list and then change the list and then convert it back to tuple

In [62]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

To add items do the same change it into list and then add items and then covert it back to tuple

In [64]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

Add tuple to another tuple to add items

In [65]:
xtuple = ("apple", "banana", "cherry")
ytuple = ("orange", )

ztuple = xtuple + ytuple
ztuple

('apple', 'banana', 'cherry', 'orange')

To remove use the same list workaround

In [66]:
zlist = list(ztuple)

zlist.remove("orange")

ztuple = tuple(zlist)

ztuple

('apple', 'banana', 'cherry')

#### Unpack

In [67]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

#### Using Asterisk <code>*</code>

If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list

In [68]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

#### Tuple Methods

Python has two built-in methods that you can use on tuples.

Method	Description

- <code>count()</code>	Returns the number of times a specified value occurs in a tuple
- <code>index()</code>	Searches the tuple for a specified value and returns the position of where it was found

### Sets


Sets are used to store multiple items in a single variable

A set is a collection which is unordered, unchangeable*, and unindexed.

> Note: Set items are unchangeable, but you can remove items and add new items.

In [69]:
# create

thisset = {"apple", "banana", "cherry"}

thisset

{'apple', 'banana', 'cherry'}

> ##### No Duplicates are allowed

In [70]:
len(thisset) # length

3

In [71]:
# add items - add()

thisset.add("dragon fruit")

thisset

{'apple', 'banana', 'cherry', 'dragon fruit'}

In [72]:
# add sets - update()

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)
thisset

{'apple', 'banana', 'cherry', 'mango', 'papaya', 'pineapple'}

In [73]:
# remove - remove()

thisset.remove("banana")
thisset

{'apple', 'cherry', 'mango', 'papaya', 'pineapple'}

You can also use the <code>pop()</code> method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

The return value of the <code>pop()</code> method is the removed item.

#### Join two sets - <code>union()</code>

In [74]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'a', 'c'}

In [75]:
# The intersection_update() method will keep only the items that are present in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [76]:
# The intersection() method will return a new set, that only contains the items that are present in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [77]:
# The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'microsoft', 'banana', 'google'}

#### Set Methods

Python has a set of built-in methods that you can use on sets.

Method	Description

- <code>add()</code>	Adds an element to the set
- <code>clear()</code>	Removes all the elements from the set
- <code>copy()</code>	Returns a copy of the set
- <code>difference()</code>	Returns a set containing the difference between two or more sets
- <code>difference_update()</code>	Removes the items in this set that are also included in another, specified set
- <code>discard()</code>	Remove the specified item
- <code>intersection()</code>	Returns a set, that is the intersection of two other sets
- <code>intersection_update()</code>	Removes the items in this set that are not present in other, specified set(s)
- <code>isdisjoint()</code>	Returns whether two sets have a intersection or not
- <code>issubset()</code>	Returns whether another set contains this set or not
- <code>issuperset()</code>	Returns whether this set contains another set or not
- <code>pop()</code>	Removes an element from the set
- <code>remove()</code>	Removes the specified element
- <code>symmetric_difference()</code>	Returns a set with the symmetric differences of two sets
- <code>symmetric_difference_update()</code>	inserts the symmetric differences from this set and another
- <code>union()</code>	Return a set containing the union of sets
- <code>update()</code>	Update the set with the union of this set and others

### Dictionary

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [78]:
# create

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Dictionary items are ordered, changeable, and do not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [82]:
x = thisdict["brand"] # accessing

x, thisdict.get("brand") # using get

('Ford', 'Ford')

In [80]:
len(thisdict) # length

3

In [83]:
# keys

x = thisdict.keys()

x

dict_keys(['brand', 'model', 'year'])

In [84]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [86]:
# values - return values

x = car.values()

x

dict_values(['Ford', 'Mustang', 1964, 'white'])

In [87]:
car["model"] = "Mustang GT" # change values

car

{'brand': 'Ford', 'model': 'Mustang GT', 'year': 1964, 'color': 'white'}

In [88]:
# update

car.update({"year": 2024})

car

{'brand': 'Ford', 'model': 'Mustang GT', 'year': 2024, 'color': 'white'}

In [91]:
# remove
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict.pop("year") # removes selected key
thisdict.popitem() # removes the last inserted

thisdict

{'brand': 'Ford'}

#### Loops

In [93]:
# Print all key names in the dictionary, one by one

for x in car:
  print(x)

print("----------------")
# Print all values in the dictionary, one by one

for x in car.values():
  print(x)

print("----------------")
# Print all keys in the dictionary, one by one

for x in car.keys():
  print(x)

print("----------------")
# Print all key, value pairs in the dictionary, one by one

for x, y in car.items():
  print(x, y)

brand
model
year
color
----------------
Ford
Mustang GT
2024
white
----------------
brand
model
year
color
----------------
brand Ford
model Mustang GT
year 2024
color white

#### Dictionary Methods

Python has a set of built-in methods that you can use on dictionaries.

Method	Description

- <code>clear()</code>	Removes all the elements from the dictionary
- <code>copy()</code>	Returns a copy of the dictionary
- <code>fromkeys()</code>	Returns a dictionary with the specified keys and value
- <code>get()</code>	Returns the value of the specified key
- <code>items()</code>	Returns a list containing a tuple for each key value pair
- <code>keys()</code>	Returns a list containing the dictionary's keys
- <code>pop()</code>	Removes the element with the specified key
- <code>popitem()</code>	Removes the last inserted key-value pair
- <code>setdefault()</code>	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
- <code>update()</code>	Updates the dictionary with the specified key-value pairs
- <code>values()</code>	Returns a list of all the values in the dictionary

### Functions

In [ ]:
def func():
  pass

#### Arbitary Arguments <code>*args</code>

When the number of arguments are unknown

In [2]:
def func(*kids):
  print("Second Kid:", kids[1])

func("John", "Peter", "Mary")

Second Kid: Peter

#### Arbitary Key Arguments <code>**kwargs</code>

When the number of keyword arguments are unknown

In [6]:
def func(**kids):
  print("Second Kid:", kids["kid2"])

func(kid1 = "John", kid2 = "Peter", kid3 = "Mary")

Second Kid: Peter

#### Positional Only Arguments

In [7]:
def func(kid, /):
  print(kid)

func("John")

John

#### Keyword Only Arguments

In [11]:
def func(*, kid):
  print(kid)

func(kid = "John")

John

#### Combine Positional-Only and Keyword-Only

In [12]:
def my_function(a, b, /, *, c, d):
  print(a + b + c + d)

my_function(5, 6, c = 7, d = 8)

26

### Lambda

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

#### Syntax

<code>lambda arguments: expression</code>

In [17]:
x = lambda a: [a+1 for a in range(10)]

x(10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
import random

x = lambda a : random.randint(1, a)

print(x(10))
print(x(500))

2
62